<div class="edit-post">
    <div>
        <h3><input class="post-title-input" type="text" name="title" value="{{data.title}}" hx-put="/posts/{{data.id}}"
                hx-trigger="input changed delay:500ms" hx-include="closest div" hx-swap="none"></h3>
        <p>{{data.published_at}} by {{data.author}}</p>
        <p><textarea class="post-content-input" cols="30" rows="10" name="content" hx-put="/posts/{{data.id}}"
                hx-trigger="input changed delay:500ms" hx-include="closest div"
                hx-swap="none">{{data.content}}</textarea>
        </p>
    </div>
    <button class="btn btn-danger submit-post-button" hx-get="/posts/{{data.id}}" hx-target=".edit-post">
        Done
    </button>
</div>