<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="static/htmx.min.js"></script>
    <script src="static/hyperscript.org@0.9.12.js"></script>
</head>

<body>
    <div hx-get="/auth/status" hx-trigger="load"></div>
    <h2>Posts</h2>
    <div hx-get="/posts/add" hx-trigger="load, auth-status-changed from:body"></div>
    <div hx-get="/posts?page=0" hx-trigger="load, auth-status-changed from:body">
        Loading messages
    </div>

</body>

</html>